.root {
    background: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    overflow: hidden;
}

.canvas {
    background: #fff;
    box-shadow: 0 9px 18px 0 rgba(213, 213, 213, 0.37);
}
